/* Css to style it. */

.wcgr-like-box{
	float: right;
	text-align: right;
}


.wcgr-like-box a{
	margin-right: 5px;
	line-height: 1px;
	color: #fff;
	display: inline-block;
	padding: 5px;
	background: #ccc;
	text-decoration: none !important;
	border-radius:5px;
}


.wcgr-like-box a.liked,
.wcgr-like-box a:hover{
	background: #333;
}

.wcgr-like-box a:before{
	content: '\f221';
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	text-decoration: none;
	margin-right: 5px;
	vertical-align: text-bottom;
}
.clear{
	clear: both;
}